<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Chyba ${status}</title>


    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>
<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>
<!-- Page Content -->
<div class="container">

    <div class="jumbotron">
        <h1>500</h1>
    </div>

    <h1> chybová stránka</h1>

    <div th:text="${status}"></div>
    <hr/>
    <div class="well">
        <div th:text="${error}"></div>
    </div>
    <div class="well">
        <div th:text="${msg}"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Footer -->
            <div th:replace="/fragment/thymeFragment :: footer"></div>
        </div>
    </div>
    <!-- /.container -->
</div>
</body>

</html>
