<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Defekt</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/defectCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right" th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <!--private Project projectSource;-->
        <!--private TCInstance tcInstanceSource;-->
        <!--private TSInstance tsInstanceSource;-->

        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <form th:action="@{/defect/create}" method="post" |th:object="${defectForm}">
                        <div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"
                             class="alert alert-danger"></div>

                        <span th:if="*{id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id" th:text="#{table.id}">ID</label>:
                                <input type="text" id="id" th:value="*{id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>


                        <div th:if="${param.source} != null" th:switch="${param.source[0]}">
                            <input th:case="projectSource_id" id="projectSource_id" type="hidden"
                                   th:value="${param.sourceid[0]}" name="projectSource_id"
                                   class="form-control"/>
                            <input th:case="tcInstanceSource_id" id="tcInstanceSource_id" type="hidden"
                                   th:value="${param.sourceid[0]}" name="tcInstanceSource_id"
                                   class="form-control"/>
                            <input th:case="tsInstanceSource_id" id="tsInstanceSource_id" type="hidden"
                                   th:value="${param.sourceid[0]}" name="tsInstanceSource_id"
                                   class="form-control"/>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name" th:text="#{table.name}">Název</label>:
                                <input type="text" id="name" name="name" th:value="*{name}"
                                       class="form-control"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errorclass="alert-danger"
                                     th:errors="*{name}">form field error</div>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="description" th:text="#{table.description}">Popis</label>:
                                <textarea type="text" id="description" name="description"
                                          th:text="*{description}"
                                          class="form-control"/>
                                <div th:if="${#fields.hasErrors('description')}" th:errorclass="alert-danger"
                                     th:errors="*{description}">form field error</div>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="affectsVersion" th:text="#{table.affectsVersion}">affectsVersion</label>:
                                <input type="text" id="affectsVersion" name="affectsVersion"
                                       th:value="*{affectsVersion}"
                                       class="form-control"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errorclass="alert-danger"
                                     th:errors="*{affectsVersion}">form field error</div>
                            </div>
                        </div>

                        <!--<span sec:authorize="hasAuthority('ANALYTIC')" th:remove="tag">-->
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="assignee_id" th:text="#{table.assignee}">Assignee</label>:

                                <select class="form-control" id="assignee_id" name="assignee_id">
                                    <option th:value="null">---</option>
                                    <option th:each="person : ${persons}"
                                            th:value="${person.id}"
                                            th:selected="${defectForm.assignee_id != null} ? ${person.id == defectForm.assignee_id}"
                                            th:text="${person.name}">Assignee
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('assignee_id')}" th:errorclass="alert-danger"
                                     th:errors="*{assignee_id}">form field error</div>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="priority" th:text="#{table.priority}">Priorita</label>:

                                <select class="form-control" id="priority" name="priority"
                                        th:with="priorities=${T(cz.vse.entity.PriorityDefectEnum).values()}">
                                    <option th:value="null">---</option>
                                    <option th:each="priority : ${priorities}"
                                            th:value="${priority}"
                                            th:selected="${defectForm.priority != null} ? ${#arrays.contains(defectForm.priority, priority)}"
                                            th:text="${priority}">jméno projektu
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('priority')}" th:errorclass="alert-danger"
                                     th:errors="*{priority}">form field error</div>
                            </div>
                        </div>


                        <span th:if="*{id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" th:value="#{common.editButton}" class="btn btn-primary"/>
                        </span>
                        <span th:if="*{id == null}" th:remove="tag">
                             <input type="submit" value="Vytvořit" th:value="#{common.createButton}" class="btn btn-primary"/>
                        </span>

                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <p th:if="${defectForm.id == null}">
                    <button type="button" class="btn btn-primary"
                            onclick="window.open('', '_self', ''); window.close();" th:text="#{common.closeButton}">Close tab
                    </button>
                </p>
                <p><a href="/defect/defects" class="btn btn-default" th:text="#{defect.defectList}">Seznam Defektů</a></p>
            </div>
        </div>

        <!--Page Content - End-->

        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
