<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="'Defect ID '+ ${defectDTO.id}"></title>
    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->


</head>

<body>

<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/defect.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index">Home</a>
                </li>
                <li class="active">Defekty</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="error-404">Detail defektu <span th:text="${defectDTO.id}"></span>
                    <small>"</small>
                    <small th:text="${defectDTO.name}"></small>
                    <small>"</small>
                </h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="name">Název</label>:
                        <input type="text" id="name" name="name" th:value="${defectDTO.name}"
                               readonly="readonly"
                               class="form-control"/>
                    </div>
                </div>

                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="description">Popis</label>:
                        <textarea type="text" id="description" name="description" th:text="${defectDTO.description}"
                                  readonly="readonly" class="form-control"/>
                    </div>
                </div>

                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="name">Affects version</label>:
                        <input type="text" id="affectsVersion" name="affectsVersion"
                               readonly="readonly"
                               th:value="${defectDTO.affectsVersion}"
                               class="form-control"/>
                    </div>
                </div>

                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="description">priority</label>:<br/>
                        <input type="text" id="priority" name="priority" th:class="${defectDTO.priority}"
                               th:value="${defectDTO.priority}"
                               readonly="readonly"
                               class="form-control"/>
                    </div>
                </div>

                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="name">status</label>:
                        <input type="text" id="status" name="status" th:value="${defectDTO.status}"
                               readonly="readonly"
                               class="form-control"/>
                    </div>
                </div>

                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="description">createdDateTime</label>:
                        <input type="text" id="createdDateTime" name="createdDateTime"
                               readonly="readonly"
                               th:value="${defectDTO.createdDateTime}"
                               class="form-control"/>
                    </div>
                </div>

                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="description">updatedDateTime</label>:
                        <input type="text" id="updatedDateTime" name="updatedDateTime"
                               readonly="readonly"
                               th:value="${defectDTO.updatedDateTime}"
                               class="form-control"/>
                    </div>
                </div>
                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="description">assignee_id</label>:
                        <input type="text" id="assignee_id" name="assignee_id"
                               readonly="readonly"
                               th:value="${defectDTO.assignee_id}"
                               class="form-control"/>
                    </div>
                </div>
                <div class=" control-group form-group">
                    <div class="controls">
                        <label for="description">createdDateTime</label>:
                        <input type="text" id="reporter_id" name="reporter_id"
                               readonly="readonly"
                               th:value="${defectDTO.reporter_id}"
                               class="form-control"/>
                    </div>
                </div>
                <div class=" control-group form-group">
                    <div class="controls">

                        <div th:if="${defectDTO.projectSource_id} != null">
                            <a th:href="@{'/project/'+${defectDTO.projectSource_id}}" class="btn btn-primary">Zdroj
                                (projekt)</a>
                        </div>
                        <div th:if="${defectDTO.tcInstanceSource_id} != null">
                            <a th:href="@{'/tc/show/'+${defectDTO.tcInstanceSource_id}}" class="btn btn-primary">Zdroj
                                (TC)</a>
                        </div>
                        <div th:if="${defectDTO.tsInstanceSource_id} != null">
                            <a th:href="@{'/ts/show/'+${defectDTO.tsInstanceSource_id}}" class="btn btn-primary">Zdroj
                                (TS)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">


            <div class="well">
                <h3>Reassignuj defekt "<span th:text="${defectDTO.name}"></span>" na někoho jiného </h3>

                <form th:action="@{/defect/writeAssigneChange}" method="post" default-target-url="/index">
                    <div class=" control-group form-group">
                        <div class="controls">
                             <span th:if="${defectDTO.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <input type="text" id="id2" th:value="${defectDTO.id}" name="id" hidden="hidden"/>
                            </div>
                        </div>
                        </span>

                            <label for="assignee_id">Assignee</label>:

                            <select class="form-control" id="assignee_id" name="assignee_id">
                                <option th:each="person : ${listPersons}"
                                        th:value="${person.id}"
                                        th:selected="${defectDTO.assignee_id != null} ? ${#strings.contains(person.id, defectDTO.assignee_id)}"
                                        th:text="${person.name}">Assignee
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class=" control-group form-group">
                        <div class="controls">
                            <input type="submit" value="Assignuj" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h3>Změna stavu defektu.</h3>
                <form th:action="@{/defect/writeStatusChange}" method="post" default-target-url="/index">
                    <div class=" control-group form-group">
                        <div class="controls">
                             <span th:if="${defectDTO.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <input type="text" id="id3" th:value="${defectDTO.id}" name="id" hidden="hidden"/>
                            </div>
                        </div>
                        </span>

                            <label for="status">Stav</label>:

                            <select class="form-control" id="status" name="status">
                                <option th:each="status : ${T(cz.vse.entity.DefectStatusEnum).values()}"
                                        th:value="${status}"
                                        th:selected="${defectDTO.status != null} ? ${#strings.contains(status, defectDTO.status)}"
                                        th:text="${status}">status
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class=" control-group form-group">
                        <div class="controls">
                            <input type="submit" value="Změna stavu" class="btn btn-primary"/>
                        </div>
                    </div>

                    <input type="text" id="author_id" name="author_id" th:value="${loggedPersonDTO.id}"
                           hidden="hidden"/>
                </form>
            </div>
        </div>


        <div class="col-sm-7">
            <div class="well">
                <h3>Komentáře defektu <span th:text="${defectDTO.id}"></span></h3>
                <div style="overflow: auto; max-height: 600px">
                    <!--th:if="${not #lists.isEmpty(tblUserList)}"-->
                    <span th:if="${not #lists.isEmpty(listDefectCommentByDefectDTO)}" th:remove="tag">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Komentář</th>
                            <th>Autor</th>
                            <th>Datum</th>
                            <th>Více</th>
                        </tr>
                        </thead>
                        <tbody th:remove="all-but-first">
                        <tr th:each="comment : ${ listDefectCommentByDefectDTO}">
                            <td th:text="${comment.id}">00</td>
                            <td th:text="${comment.commentText}">Text</td>
                            <td th:text="${comment.author_id}">Název</td>
                            <td th:text="${comment.createdDateTime}">Datum</td>
                            <td><a href="#" class="opener"
                                   th:attr="data-objectid=${comment.id}" data-id="#moreDialog">Více</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                     </span>
                </div>

                <form th:action="@{/comment/create}" method="post" default-target-url="/index">

                        <span th:if="${commentDTO.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id">ID</label>:
                                <input type="text" id="id" th:value="${commentDTO.id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>
                    <input type="text" id="defect_id" name="defect_id" th:value="${defectDTO.id}" hidden="hidden"/>

                    <input type="text" id="author_id" name="author_id" th:value="${loggedPersonDTO.id}"
                           hidden="hidden"/>
                    <div class=" control-group form-group">
                        <div class="controls">
                            <label for="commentText">Komentář</label>:
                            <textarea type="text" id="commentText" name="commentText"
                                      th:value="${commentDTO.commentText}"
                                      class="form-control"/>
                        </div>
                    </div>

                    <input type="text" id="defect_id" name="defect_id" th:value="${defectDTO.id}" hidden="hidden"/>

                    <input type="text" id="author_id" name="author_id" th:value="${loggedPersonDTO.id}"
                           hidden="hidden"/>

                    <input type="submit" value="Vytvořit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div th:replace="/fragment/thymeFragment :: footer"></div>

</div>
<!-- /.container -->


</body>

</html>
