<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <h2>WEB-INF/templates/hello.html</h2>

        <div style="font-style: oblique">Seznam omezeného obsahu</div>
        <div sec:authorize="hasRole('XXX')">
            This content is only shown to users. XXX
        </div>
        <div sec:authorize="hasRole('XXXmmmmm')">
            This content is only shown to users. NIKOMU
        </div>

        <div sec:authorize="hasRole('USER')">
            This content is only shown to users. USER
        </div>
    </body>
</html>