<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--You have been logged out.-->
<!--</div>-->
<!--<form th:action="@{/login}" method="post">-->
<!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--<div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<div th:if test="${not empty error}">-->
<!--<div class="error">${error}</div>-->
<!--</div>-->
<!--<div  th:if test="${not empty msg}">-->
<!--<div class="msg">${msg}</div>-->
<!--</div>-->

<form th:action="@{/login}" method='POST'>

    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username'/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <td colspan='2'><input name="submit" type="submit"
                                   value="submit"/></td>
        </tr>
    </table>

    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}"/>

</form>


</body>
</html>
