<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Projects</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>
<body>

<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/projects.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right">Zpět</a>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="error-404">Seznam dostupných projektů pro <span style="font-style: italic"
                                                                           th:text="${person.username}">přihlášeného uživatele</span>
                </h1>
                <p th:text="#{language}"></p>
            </div>
            <h1>Spring MVC Excel View Demo (Apache POI)</h1>
            <h3><a href="/downloadExcel">Download Excel Document</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <h1>Project list</h1>
            <table class="table table-striped datatable">
                <thead>
                <tr>
                    <!--sec:authorize="hasAuthority('ANALYTIC')"-->
                    <th>ID</th>
                    <th>Název</th>
                    <th>Detail</th>
                    <th sec:authorize="hasAuthority('TESTER')">Založit defekt</th>
                    <th>Test Suity</th>
                    <th sec:authorize="hasAuthority('ANALYTIC')">Edit Project</th>
                    <th>Více</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="project : ${projects}">
                    <td th:text="${project.id}">00</td>
                    <td><a th:href="@{'/project/'+${project.id}}" th:text="${project.name}">Project</a>
                    </td>
                    <td><a href="#" class="opener"
                           th:attr="data-name=${project.name}, data-owner=${project.projectOwnerName}"
                           data-id="#detailDialog">Detail</a>
                    </td>
                    <td sec:authorize="hasAuthority('TESTER')"><a
                            th:href="@{'/defect/create'(source='projectSource_id', sourceid=${project.id})}"
                            target="_blank">Založit Defekt</a></td>
                    <td><a th:href="@{'/suite/suites-by-project/'+${project.id}}">Test Suity</a></td>
                    <td sec:authorize="hasAuthority('ANALYTIC')"><a
                            th:href="@{'/project/edit/'+${project.id}}">Editace</a></td>
                    <td><a href="#" class="opener"
                           th:attr="data-objectid=${project.id}, data-sourceid=${project.id} " data-id="#moreDialog">Více</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-4">
            <a href="/project/create" class="btn btn-default" sec:authorize="hasAuthority('ADMIN')">Založit Projekt</a>
            <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default">Zpět</a>
            <button onclick="swal('sdfds')" class="btn btn-default">sweet alert</button>
        </div>
        <div class="col-sm-8">

        </div>
    </div>

    <!--dialogová okna-->
    <div id="moreDialog" title="Více">
        <h3>Project ID: <span id="spanDataObjectId"></span></h3>
        <a th:href="@{'/defect/create'(source='projectSource')}" onclick="addSourceIdToURL(this)"
           class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Založit defekt</a>
        <a href="#" class="btn btn-default" sec:authorize="hasAuthority('ANALYTIC')">Žádost o smazání</a>
        <a href="/defect/defects" class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Seznam Defektů</a>
    </div>

    <div id="detailDialog" title="Detail projektu">
        <h3>Detail projektu: <span id="spanDataName"></span></h3>
        <h3>Vlastník projektu: <span id="spanDataOwnerName"> </span></h3>
    </div>

    <div id="membersDialog" title="Členové projektu" sec:authorize="hasAuthority('ANALYTIC')">
        <div class="well"><h3>členové projektu</h3>
        </div>
        <h3>analytici</h3>
        <ul th:each="member : ${membersAnalytics}">
            <li th:text="${member.name}"></li>
        </ul>
        <h3>testeři</h3>
        <ul th:each="member : ${membersTesters}">
            <li th:text="${member.name}"></li>
        </ul>
        <h3>všichni</h3>
        <ul th:each="member : ${membersAll}">
            <li th:text="${member.name}"></li>
        </ul>
    </div>

    <!-- Footer -->
    <div th:replace="/fragment/thymeFragment :: footer"></div>

</div>
<!-- /.container -->
</body>
</html>
