<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Project</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->
    <!--duallistbox3-->
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css"/>
    <link rel="stylesheet" type="text/css" href="/src/bootstrap-duallistbox.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="/src/jquery.bootstrap-duallistbox.js"></script>

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/projectCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">Home</a>
                </li>
                <li class="active">Project create</li>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    <form th:action="@{/project/create}" method="post" default-target-url="/index">

                        <span th:if="${projectDTO.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id">ID</label>:
                                <input type="text" id="id" name="id" th:value="${projectDTO.id}" class="form-control"
                                       readonly="true"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name">Jméno</label>:
                                <input type="text" id="name" th:value="${projectDTO.name}" name="name"
                                       class="form-control"
                                       autofocus="autofocus"/>
                            </div>
                        </div>

                        <span sec:authorize="hasAuthority('ANALYTIC')" th:remove="tag">
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="projectOwner_id">Vlastník</label>:

                                <select class="form-control" id="projectOwner_id" name="projectOwner_id">
                                    <option th:each="person : ${listPersons}"
                                            th:value="${person.id}"
                                            th:selected="${projectDTO.projectOwner_id != null} ? ${#strings.contains(person.id, projectDTO.projectOwner_id)}"
                                            th:text="${person.name}">jméno vlastníka
                                    </option>
                                </select>

                            </div>
                        </div>
                        </span>

                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="projectMembers_id">Členové</label>:
                                <select id="projectMembers_id" name="projectMembers_id" class="multipleSelection"
                                        multiple="multiple" size="10">
                                    <option th:each="person : ${listPersons}"
                                            th:value="${person.id}"
                                            th:selected="${listMembers != null} ? ${#lists.contains(listMembers, person)}"
                                            th:text="${person.name}">jména person
                                    <option value="Test">Test</option>
                                    <option value="Prof">Prof</option>
                                    <option value="Live">Live</option>
                                    <option value="Off">Off</option>
                                    <option value="On">On</option>
                                    </option>
                                </select>
                                <script>
                                    var multipleSelection = $('.multipleSelection').bootstrapDualListbox({
                                        nonSelectedListLabel: 'Non-selected',
                                        selectedListLabel: 'Selected',
                                        preserveSelectionOnMove: 'moved',
                                        moveOnSelect: true,
                                    });
                                </script>
                            </div>
                        </div>

                        <div class="control-group form-group">
                            <div class="controls">

                                <h3> Test suity se nepřidávají v projektu, ale v test suitu se přidá projekt</h3>
                            </div>
                        </div>

                        <span th:if="${projectDTO.id != null}" th:remove="tag">

                              <input type="submit" value="Upravit" class="btn btn-primary"/>
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                        </span>
                        <span th:if="${projectDTO.id == null}" th:remove="tag">

                              <input type="submit" value="Vytvořit" class="btn btn-primary"/>
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                        </span>


                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <p><a th:href="@{'/project/projects'}" class="btn btn-primary">Zpět</a></p>
            </div>
        </div>

        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
