<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Project</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

    <!--lokální importy-->
    <link rel="stylesheet" type="text/css" href="/src/bootstrap-duallistbox.css"/>
    <script src="/src/jquery.bootstrap-duallistbox.js"></script>
    <!--lokální importy - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/projectCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right" th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">


        <div class="row">
            <div class="col-sm-10">
                <div class="well">
                    <form th:action="@{/project/create}" method="post" th:object="${projectForm}">
                        <div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"
                             class="alert alert-danger"></div>
                        <span th:if="${projectForm.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id" th:text="#{form.id}">ID</label>:
                                <input type="text" id="id" name="id" th:value="${projectForm.id}" class="form-control"
                                       readonly="true"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name" th:text="#{form.name}">Název</label>:

                                <input type="text" id="name" name="name" th:field="*{name}"
                                       class="form-control has-error"
                                       autofocus="autofocus"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                     th:errorclass="alert-danger">Name Error
                                </div>
                            </div>
                        </div>
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="projectOwner_id" th:text="#{form.owner}">Vlastník</label>:


                                <select class="form-control" id="projectOwner_id"
                                        name="projectOwner_id">
                                    <option th:value="null">---</option>
                                    <option th:each="person : ${persons}"
                                            th:value="${person.id}"
                                            th:selected="${projectForm.projectOwner_id != null} ? ${#strings.contains(person.id, projectForm.projectOwner_id)}"
                                            th:text="${person.name}">jméno vlastníka
                                    </option>

                                </select>
                                <div th:if="${#fields.hasErrors('projectOwner_id')}" th:errorclass="alert-danger"
                                     th:errors="*{projectOwner_id}">form field error
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="projectMembers_id" th:text="#{form.members}">Členové</label>:
                                <select id="projectMembers_id" name="projectMembers_id" class="multipleSelection"
                                        multiple="multiple" size="10">
                                    <option th:unless="${#fields.hasErrors('*')}"
                                            th:each="person : ${persons}"
                                            th:value="${person.id}"
                                            th:selected="${members != null} ? ${#lists.contains(members, person)}"
                                            th:text="${person.name}">jména person
                                    </option>
                                    <div th:if="${#fields.hasErrors('projectMembers_id')}"
                                         th:errors="*{projectMembers_id}">Age Error
                                    </div>
                                    <option th:if="${#fields.hasErrors('*')}"
                                            th:each="person : ${persons}"
                                            th:value="${person.id}"
                                            th:selected="${projectForm.projectMembers_id != null} ?
                                            ${#lists.contains(projectForm.projectMembers_id, person.id)}"
                                            th:text="${person.name}">jména person
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('projectOwner_id')}" th:errorclass="alert-danger"
                                     th:errors="*{projectOwner_id}">form field error
                                </div>
                                <script>
                                    var multipleSelection = $('.multipleSelection').bootstrapDualListbox({
                                        nonSelectedListLabel: 'Non-selected',
                                        selectedListLabel: 'Selected',
                                        preserveSelectionOnMove: 'moved',
                                        moveOnSelect: true,
                                    });
                                </script>
                            </div>
                        </div>

                        <div class="control-group form-group">
                            <div class="controls">

                                <h3> Test suity se nepřidávají v projektu, ale v test suitu se přidá projekt</h3>
                            </div>
                        </div>

                        <span th:if="${projectForm.id != null}" th:remove="tag">

                              <input type="submit" value="Upravit" th:value="#{common.editButton}" class="btn btn-primary"/>
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                        </span>
                        <span th:if="${projectForm.id == null}" th:remove="tag">
                              <input type="submit" value="Vytvořit" th:value="#{common.createButton}" class="btn btn-primary"/>
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                        </span>


                    </form>
                </div>
            </div>
            <div class="col-sm-2">
                <p><a th:href="@{'/project/projects'}" class="btn btn-primary" th:text="#{common.backButton}">Zpět</a></p>
            </div>
        </div>

        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
