<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Registration</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/registration.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right"
                   th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="row">

    </div>

    <div class="container">
        <div th:if="${personForm != null}" th:remove="tag">
            <div class="row">
                <div class="col-sm-4">
                    <div class="well">
                        <form th:action="@{/person/create}" method="post" th:object="${personForm}">
                            <!--<div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"-->
                            <!--class="alert alert-danger"></div>-->
                            <span th:if="*{id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id" th:text="#{form.id}">ID</label>:
                                <input type="text" id="id" name="id" th:value="*{id}" readonly="true"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                            <div class=" control-group form-group">
                                <div class="controls">
                                    <label for="name" th:text="#{table.name}">Jméno</label> *
                                    <input type="text" id="name" th:value="*{name}" name="name"
                                           class="form-control"
                                           autofocus="autofocus"/>
                                </div>
                                <div th:if="${#fields.hasErrors('name')}" th:errorclass="alert-danger"
                                     th:errors="*{name}">form field error
                                </div>
                            </div>

                            <div class=" control-group form-group">
                                <div class="controls">
                                    <label for="username" th:text="#{form.username}">Uživatelské jméno</label> *
                                    <input type="text" id="username" th:value="*{username}" name="username"
                                           class="form-control"/>
                                </div>
                                <div th:if="${#fields.hasErrors('username')}" th:errorclass="alert-danger"
                                     th:errors="*{username}">form field error
                                </div>
                            </div>

                            <span th:if="*{id == null}" th:remove="tag">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="password" th:text="#{form.password}">Password</label> *
                                <input type="password" id="password" class="form-control" name="password"
                                       autocomplete="false"/>
                            </div>
                            <div th:if="${#fields.hasErrors('password')}" th:errorclass="alert-danger"
                                 th:errors="*{password}">form field error
                                </div>
                        </div>
                        </span>

                            <span th:if="*{id != null}" th:remove="tag">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="enabled">Aktivní</label> *
                                <input type="checkbox" th:checked="*{enabled}" th:text="#{form.enabled}" name="enabled"
                                       id="enabled"
                                       class="checkbox"/>
                                <!--<input type="enabled" id="enabled" class="form-control" name="enabled"/> <br/>-->
                            </div>
                        </div>
                        </span>

                            <span th:if="*{id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" class="btn btn-primary"/>
                        </span>
                            <span th:if="*{id == null}" th:remove="tag">
                             <input type="submit" value="Založit" class="btn btn-primary"/>
                        </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div th:if="${not #lists.isEmpty(persons)}" th:remove="tag">
                    <a href="create" class="btn btn-primary" th:text="#{common.registerButton}">Registrace</a>

                    <h1 th:text="#{users.usersList}">Seznam uživatelů</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{table.id}">ID uživatele</th>
                            <th th:text="#{table.name}">Jméno</th>
                            <th th:text="#{table.login}">Login</th>
                            <th th:text="#{table.created}">Vytvořen</th>
                            <th th:text="#{table.lastLogged}">Poslední přihlášení</th>
                            <th th:text="#{table.roles}">Role</th>
                            <th th:text="#{table.edit}">Editovat</th>
                        </tr>
                        </thead>
                        <tbody th:remove="all-but-first">
                        <tr th:each="user : ${persons}">
                            <td th:text="${user.id}">id</td>
                            <td th:text="${user.name}">name</td>
                            <td th:text="${user.username}">username</td>
                            <td th:text="${user.createdDateTime}">vytvořeno</td>
                            <td th:text="${user.lastLogged}">poslední přihlášení</td>
                            <td><a th:href="@{'/person/role/'+${user.id}}" th:text="#{table.roles}">úprava rolí</a></td>
                            <td><a th:href="@{'/person/edit/'+${user.id}}" th:text="#{table.edit}">Editace</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="create" class="btn btn-primary" th:text="#{common.registerButton}">Registrace</a>
                </div>
            </div>
        </div>


        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
