<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Test suites</title>
    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->
</head>

<body>

<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-md-12">
            <!--<h1 class="page-header">404-->
            <!--<small>Page Not Found</small>-->
            <!--</h1>-->
            <ol class="breadcrumb">
                <li><a href="index">Home</a>
                </li>
                <li class="active">Suites</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="error-404">Seznam Test Suitů v projektu <span style="font-style: italic"
                                                                         th:text="${project.name}">Projekt nezískán</span>
                </h1>
            </div>
        </div>
    </div>

    <h1> Test Suite list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Suite ID</th>
            <th sec:authorize="hasAuthority('ANALYTIC')">Stav</th>
            <th>Název</th>
            <th>Detail</th>
            <th sec:authorize="hasAuthority('ANALYTIC')">Vytvořeno</th>
            <th>Test Cases</th>
            <th sec:authorize="hasAuthority('ANALYTIC')">Editace</th>
            <th>Více</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="suite : ${listSuitesDTO}">
            <td th:text="${suite.id}">00</td>
            <td sec:authorize="hasAuthority('ANALYTIC')">Výsledek Suitu</td>
            <td th:text="${suite.name}">Projekt</td>
            <td><a href="#" class="opener"
                   th:attr="data-name=${suite.name}" data-id="#detailDialog">Detail</a>
            </td>
            <td th:text="${suite.createdDateTime}" sec:authorize="hasAuthority('ANALYTIC')">Projekt</td>
            <td><a th:href="@{'/tc/tc-by-suite/'+${suite.id}}">Test Cases</a></td>
            <td><a th:href="@{'/suite/edit/'+${suite.id}}" sec:authorize="hasAuthority('ANALYTIC')">editace</a></td>
            <td><a href="#" class="opener" data-id="#moreDialog"
                   th:attr="data-objectid=${suite.id},data-updated=${suite.updateDateTime}"
            >Více</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row" sec:authorize="hasAuthority('ANALYTIC')">
        <div class="col-md-4">
            <a href="/suite/create" class="btn btn-default">Založit Test Suite</a>
        </div>
        <div class="col-md-8"></div>
    </div>

    <!--dialogová okna-->
    <div id="moreDialog" title="Více">
        <h3>Project ID: <span id="spanDataObjectId"></span></h3>
        <a href="/defect/create" class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Založit defekt</a>
        <a th:href="@{'/suite/delete/'}" class="btn btn-default" sec:authorize="hasAuthority('ANALYTIC')">Smazat</a>
        <a href="/defect/defects" class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Seznam Defektů</a>
        <a href="#" class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Nahlásit chybu</a>
    </div>

    <div id="detailDialog" title="Detail projektu">
        <h3>Detail test suitu: <span id="spanDataName"></span></h3>
        <h3>Autor Test Suitu: <span id="spanDataOwnerName"> </span></h3>
        <h3 sec:authorize="hasAuthority('ANALYTIC')">Datum poslední úpravy: <span id="spanDataUpdated"> </span></h3>
        <h3>Počet TC: </h3>
        <h3 sec:authorize="hasAuthority('TESTER')">Stav TC: XXX prošlo a YYY je failed</h3>
    </div>


    <!-- Footer -->
    <div th:replace="/fragment/thymeFragment :: footer"></div>

</div>
<!-- /.container -->


</body>

</html>
