<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Test Suite</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

    <!--lokální importy-->
    <link rel="stylesheet" type="text/css" href="/src/bootstrap-duallistbox.css"/>
    <script src="/src/jquery.bootstrap-duallistbox.js"></script>
    <!--lokální importy - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/suiteCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    <form th:action="@{/suite/create}" method="post" default-target-url="/index">

                        <span th:if="${suiteDTO.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id">ID</label>:
                                <input type="text" id="id" th:value="${suiteDTO.id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name">Název</label>:
                                <input type="text" id="name" name="name" th:value="${suiteDTO.name}"
                                       class="form-control"
                                       autofocus="autofocus"/>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="project_id">Projekt</label>:

                                <select class="form-control" id="project_id" name="project_id">
                                    <option th:each="project : ${usersProjects}"
                                            th:value="${project.id}"
                                            th:selected="${suiteDTO.project_id != null} ? ${#strings.contains(project.id, suiteDTO.project_id)}"
                                            th:text="${project.name}">jméno projektu
                                    </option>
                                </select>
                            </div>
                        </div>

                        <span th:if="${suiteDTO.id != null}" th:remove="tag">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="tcMusters_id">TC vzory</label>:
                                <select id="tcMusters_id" name="tcMusters_id" class="multipleSelection2"
                                        multiple="multiple" size="10">
                                    <option th:each="tcmuster : ${tcMustersByProject}"
                                            th:selected="${tcMusters != null} ? ${#lists.contains(tcMustersDTO, tcmuster)}"
                                            th:value="${tcmuster.id}"
                                            th:text="${tcmuster.name}">tc vzory
                                    </option>
                                </select>
                                <script>
                                    var multipleSelection2 = $('.multipleSelection2').bootstrapDualListbox({
                                        nonSelectedListLabel: 'Non-selected',
                                        selectedListLabel: 'Selected',
                                        preserveSelectionOnMove: 'moved',
                                        moveOnSelect: true,
                                    });
                                </script>
                            </div>
                        </div>
                        </span>

                        <span th:if="${suiteDTO.id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" class="btn btn-primary"/>
                        </span>
                        <span th:if="${suiteDTO.id == null}" th:remove="tag">
                             <input type="submit" value="Vytvořit" class="btn btn-primary"/>
                        </span>

                    </form>
                </div>
            </div>

            <div class="col-sm-4">
                <p>  <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-primary">Zpět</a>
                </p>
            </div>

        </div>

        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
