<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Test Case</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/tcCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <form th:action="@{/tc/create}" method="post" default-target-url="/index">

                        <span th:if="${tcForm.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id">ID</label>:
                                <input type="text" id="id" th:value="${tcForm.id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name">Název</label>:

                                <input type="text" id="name" name="name" th:value="${tcForm.name}" class="form-control"
                                       autofocus="autofocus"/>
                            </div>
                        </div>

                        <!--<div class=" control-group form-group">-->
                        <!--<div class="controls">-->
                        <!--<label for="project_id">Projekt</label>:-->

                        <!--<select class="form-control" id="project_id" name="project_id" readonly="readonly">-->
                        <!--<option th:each="project : ${usersProjects"-->
                        <!--th:value="${project.id}"-->
                        <!--th:selected="${tcForm.project_id != null} ? ${#strings.contains(project.id, tcForm.project_id)}"-->
                        <!--th:text="${project.name}"-->
                        <!--disabled="disabled">-->
                        <!--jméno projektu-->
                        <!--</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="suite_id">Test Suite</label>:
                                <input type="text" id="suite_id" name="suite_id" th:value="${param.suite[0]}"
                                       readonly="readonly" class="form-control"/>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="project_id">Projekt</label>:
                                <input type="text" id="project_id" name="project_id" th:value="${tcForm.project_id}" readonly="readonly" class="form-control"/>
                            </div>
                        </div>
                        <!--TEST SUITE SE TED NEUKLÁDÁ - POTŘEBA UPRAVIT SERVICE PRO SAVE-->

                        <!--<div class=" control-group form-group" th:with="suiteFilterId=${param.suite[0]}">-->
                        <!--<div class="controls">-->
                        <!--<label for="suite_id">Test Suite</label>:-->

                        <!--<select class="form-control" id="suite_id" name="suite_id">-->
                        <!--<option th:each="suite : ${projectsSuites}"-->
                        <!--th:value="${suite.id}"-->
                        <!--th:selected="${suite != null} ? ${#strings.contains(suite.id, suiteFilterId)}"-->
                        <!--th:text="${suite.name}">jméno projektu-->
                        <!--</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="priority">Priorita</label>:

                                <select class="form-control" id="priority" name="priority"
                                        th:with="priorities=${T(cz.vse.entity.PriorityTCEnum).values()}">
                                    <option th:each="priority : ${priorities}"
                                            th:value="${priority}"
                                            th:selected="${tcForm.priority != null} ? ${#arrays.contains(tcForm.priority, priority)}"
                                            th:text="${priority}">jméno projektu
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="prerequisite">Prerekvizity</label>:
                                <textarea type="text" id="prerequisite"
                                          name="prerequisite"
                                          th:text="${tcForm.prerequisite}" class="form-control"/>
                            </div>
                        </div>


                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="note">Poznámka</label>:
                                <textarea type="text" id="note" name="note"
                                          th:text="${tcForm.note}" class="form-control"/>
                            </div>
                        </div>

                        <span th:if="${tcForm.id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" class="btn btn-primary"/>
                        </span>
                        <span th:if="${tcForm.id == null}" th:remove="tag">
                             <input type="submit" value="Vytvořit" class="btn btn-primary"/>
                        </span>

                    </form>
                </div>
            </div>

            <div class="col-sm-5">
                <p><a th:href="@{'/tc/tc-by-suite/'+ ${param.suite[0]}}" class="btn btn-primary">Zpět</a></p>
            </div>

        </div>


        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
