<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Test Case</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/tcCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right"
                   th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <form th:action="@{/tc/create}" method="post" th:object="${TCMusterForm}"
                          default-target-url="/index">
                        <!--<div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"-->
                        <!--class="alert alert-danger">-->

                        <!--</div>-->

                        <span th:if="*{id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id" th:text="#{form.id}">ID</label>
                                <input type="text" id="id" th:value="*{id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name" th:text="#{form.name}">Název</label> *

                                <input type="text" id="name" name="name" th:value="*{name}" class="form-control"
                                       autofocus="autofocus"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errorclass="alert-danger"
                                     th:errors="*{name}">form field error
                                </div>
                            </div>

                            <span th:if="*{id != null}" th:remove="tag">
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="suiteFrom" th:text="#{form.testsuite}">Test Suite</label>
                                <input type="text" id="suiteFrom" name="suiteFrom" th:value="${helpContext.suiteFrom}"
                                       readonly="readonly" class="form-control"/>
                                  <!--<input type="text" id="testSuite_id" name="testSuite_id" th:value="*{suiteFrom}"-->
                                         <!--hidden="hidden"/>-->

                            </div>
                        </div>
                        </span>
                        </div>
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="project_id" th:text="#{form.project}">Projekt</label> *
                                <input type="text" id="project_id" name="project_id" th:field="*{project_id}"
                                       readonly="readonly" class="form-control"/>
                                <div th:if="${#fields.hasErrors('project_id')}" th:errorclass="alert-danger"
                                     th:errors="*{project_id}">form field error
                                </div>
                            </div>
                        </div>
                        <!--</span>-->
                        <!--TEST SUITE SE TED NEUKLÁDÁ - POTŘEBA UPRAVIT SERVICE PRO SAVE-->

                        <!--<div class=" control-group form-group" th:with="suiteFilterId=${param.suite[0]}">-->
                        <!--<div class="controls">-->
                        <!--<label for="suite_id">Test Suite</label>:-->

                        <!--<select class="form-control" id="suite_id" name="suite_id">-->
                        <!--<option th:each="suite : ${projectsSuites}"-->
                        <!--th:value="${suite.id}"-->
                        <!--th:selected="${suite != null} ? ${#strings.contains(suite.id, suiteFilterId)}"-->
                        <!--th:text="${suite.name}">jméno projektu-->
                        <!--</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="priority" th:text="#{form.priority}">Priorita</label> *

                                <select class="form-control" id="priority" name="priority"
                                        th:with="priorities=${T(cz.vse.entity.PriorityTCEnum).values()}">
                                    <option th:value="null">---</option>
                                    <option th:each="prioritka : ${priorities}"
                                            th:value="${prioritka}"
                                            th:selected="*{priority != null} ? ${#arrays.contains(prioritka, TCMusterForm.priority)}"
                                            th:text="${prioritka}">jméno projektu
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('priority')}" th:errorclass="alert-danger"
                                     th:errors="*{priority}">form field error
                                </div>
                            </div>
                        </div>
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="prerequisite" th:text="#{form.prerequisite}">Prerekvizity</label>
                                <textarea type="text" id="prerequisite"
                                          name="prerequisite"
                                          th:text="*{prerequisite}" class="form-control"/>
                                <div th:if="${#fields.hasErrors('prerequisite')}"
                                     th:errorclass="alert-danger"
                                     th:errors="*{prerequisite}">form field error
                                </div>
                            </div>
                        </div>


                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="note" th:text="#{form.note}">Poznámka</label>
                                <textarea type="text" id="note" name="note"
                                          th:text="*{note}" class="form-control"/>
                                <div th:if="${#fields.hasErrors('note')}" th:errorclass="alert-danger"
                                     th:errors="*{note}">form field error
                                </div>
                            </div>
                        </div>

                        <div th:if="${helpContext !=null}">
                            <div th:object="${helpContext}">
                                <input type="text" id="suiteFrom" name="suiteFrom" th:value="*{suiteFrom}" hidden="hidden"/>
                                <input type="text" id="projectId" name="projectId" th:value="*{projectId}"
                                       hidden="hidden"/>
                            </div>
                        </div>

                        <span th:if="*{id != null}" th:remove="tag">
                                     <input type="submit" value="Upravit" th:value="#{common.editButton}"
                                            class="btn btn-primary"/>
                                </span>
                        <span th:if="*{id == null}" th:remove="tag">
                                    <input type="submit" value="Vytvořit" th:value="#{common.createButton}"
                                           class="btn btn-primary"/>
                                </span>

                    </form>

                </div>
            </div>

            <!--<div class="col-sm-5">-->
            <!--<p><a th:href="@{'/tc/tc-by-suite/'+ ${param.suite[0]}}" class="btn btn-primary">Zpět</a></p>-->
            <!--</div>-->

        </div>


        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
