<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Test Cases</title>
    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>

<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/tcs.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right"
                   th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="error-404" th:text="#{tcs.jumbotron}">Seznam všech Test Casů.
                </h1>
            </div>
        </div>
    </div>

    <h1 th:text="#{tcs.testCasesList}"> Test Cases list</h1>
    <div class="alert alert-warning" th:if="${tcs.empty}">
        <h3 th:text="#{common.nothing}">Nic tu není</h3>
    </div>
    <div th:if="${!tcs.empty}">
        <table class="table table-striped datatable">
            <thead>
            <tr>
                <th th:text="#{table.id}">TC ID</th>
                <th th:text="#{table.priority}">Priorita</th>
                <th th:text="#{table.status}" sec:authorize="hasAuthority('TESTER')">Stav</th>
                <th th:text="#{table.name}">Název</th>
                <th th:text="#{table.detail}">Detail</th>
                <th th:text="#{table.lastRunDateTime}">lastRunDateTime</th>
                <th th:text="#{table.created}" sec:authorize="hasAuthority('ANALYTIC')">Vytvořeno</th>
                <th th:text="#{table.edit}" sec:authorize="hasAuthority('ANALYTIC')">Editace</th>
                <th th:text="#{table.history}" sec:authorize="hasAuthority('TESTER')">Historie</th>
                <th th:text="#{table.run}" sec:authorize="hasAuthority('TESTER')">Spustit</th>
                <th th:text="#{table.ts}" sec:authorize="hasAuthority('ANALYTIC')">Test Stepy</th>
                <th th:text="#{table.more}">Více</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="tc : ${tcs}">
                <td th:text="${tc.id}">00</td>
                <td><span th:class="${tc.priority}" th:text="${tc.priority}">Priorita</span></td>
                <td sec:authorize="hasAuthority('TESTER')"><span th:text="${tc.status}"
                                                                 th:class="${tc.status}">Stav TC</span></td>
                <td th:text="${tc.name}">Název</td>
                <td><a href="#" class="opener"
                       th:attr="data-name=${tc.name},
                    data-prerequisite=${tc.prerequisite},
                    data-note=${tc.note}"
                       data-id="#detailDialog" th:text="#{table.detail}">Detail</a>
                </td>
                <td th:text="${tc.lastRunDateTime}">lastRunDateTime</td>
                <td th:text="${tc.createdDateTime}" sec:authorize="hasAuthority('ANALYTIC')">datum a čas vytvoření</td>
                <td sec:authorize="hasAuthority('ANALYTIC')"><a
                        th:href="@{'/tc/edit/'+${tc.id}(project=${suite.project_id},suiteFrom=${suite} != null ? ${suite.id} : null )}"
                        th:text="#{table.edit}">editace</a>
                </td>
                <td sec:authorize="hasAuthority('TESTER')"><a th:href="@{'/tc/history/'+${tc.id}}"
                                                              th:text="#{table.history}">historie</a></td>
                <td sec:authorize="hasAuthority('TESTER')"><a
                        th:href="@{'/tc/run/'+${tc.id}+'?origin=tc&amp;backid='+${suite.id}}"
                        th:text="#{table.run}">run</a>
                </td>
                <td sec:authorize="hasAuthority('ANALYTIC')"><a th:href="@{'/ts/ts-by-tcmuster/'+${tc.id}}"
                                                                th:text="#{table.ts}">Test Stepy</a>
                </td>
                <td><a href="#" class="opener"
                       th:attr="data-sourceid=${tc.id}, data-objectid=${tc.id}" data-id="#moreDialog"
                       th:text="#{table.more}">Více</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${suite != null}" th:remove="tag">
        <a th:href="@{'/tc/create/'(project=${suite.project_id},suiteFrom=${suite.id})}"
           class="btn btn-primary" th:text="#{tc.create}" sec:authorize="hasAuthority('ANALYTIC')">Založit Test Case</a>
    </div>
    <p>
        <a th:href="@{'/downloadExcelTC/'+${suite.id}}" th:text="#{common.exportExcel}" class="btn btn-default">Export do excelu</a>
    </p>

    <!--<p><a href="/tc/create" class="btn btn-default" sec:authorize="hasAuthority('ANALYTIC')">Založit Test Case</a></p>-->

    <!--dialogová okna-->
    <div id="moreDialog" title="Více">
        <h3>TC ID: <span id="spanDataObjectId"></span></h3>
        <a th:href="@{'/defect/create'(source='tcInstanceSource_id')}" onclick="addSourceIdToURL(this)" target="_blank"
           class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Založit defekt</a>
        <a th:href="@{'/tc/delete/'}" class="btn btn-default" sec:authorize="hasAuthority('ANALYTIC')">Smazat</a>
        <a href="/defect/defects" class="btn btn-default" sec:authorize="hasAuthority('TESTER')">Seznam Defektů</a>
    </div>

    <div id="detailDialog" title="Detail projektu">
        <h3>Detail Test Casu <span id="spanDataName"></span></h3>
        <h3>Autor test casu: <span id="spanDataOwnerName"> </span></h3>
        <h3>Počet Test Stepů: //dodělat</h3>
        <h4>Datum poslední úpravy: </h4>
        <h4>Autor poslední úpravy: </h4>
        <hr/>
        <h3>Prerekvizity</h3>
        <div id="divDataPrerequisite"></div>
        <hr/>

        <h3>Poznámka</h3>
        <div id="divDataNote"></div>
    </div>

    <!-- Footer -->
    <div th:replace="/fragment/thymeFragment :: footer"></div>

</div>
<!-- /.container -->


</body>

</html>
