<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Test Cases</title>
    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>

    <!--importované přes fragment - konec-->

</head>

<body>

<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/tcsAll.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right" th:text="#{common.backButton}">Zpět</a>
                <li th:text="${filterHelper}"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="error-404" th:text="#{tcsAll.jumbotron}">Seznam všech Test Casů.
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 th:text="#{tcsAll.filter}"><i class="fa fa-fw fa-gift"></i>Filtr Test Casů</h4>
                </div>

                <div class="panel-body">
                    <p><a th:text="#{tcsAll.filter.all}" th:href="@{tcs(filter='all')}" class="btn btn-mg btn-block btn-default"
                          th:classappend="(${param.filter} == null or ${param.filter[0]} == 'all') ? btn-primary : btn-default"></a>
                    </p>
                    <hr/>
                    <div th:each="project : ${usersProjects}">
                        <p><a th:text="${project.name}" th:href="@{tcs(filter=${project.id})}"
                              class="btn btn-mg btn-block btn-default"
                              th:classappend="(${param.filter} != null and ${param.filter[0]} == ${project.id}) ? btn-primary : btn-default"
                        ></a></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9">

            <form action="#" th:action="@{/tc/copy(filter=(${param.filter} == null or ${param.filter[0]} == 'all') ? 'all' : ${param.filter[0]})}" th:object="${TCMusterCopyDTO}"
                  method="post">
                <div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"
                     class="alert alert-danger"></div>
                <table class="table table-striped datatable">
                    <thead>
                    <tr>
                        <th th:text="#{table.id}">TC ID</th>
                        <th th:text="#{table.priority}">Priorita</th>
                        <th th:text="#{table.status}" sec:authorize="hasAuthority('TESTER')">Stav TC</th>
                        <th th:text="#{table.name}">Název</th>
                        <th th:text="#{table.detail}">Detail</th>
                        <th th:text="#{table.created}">Vytvořeno</th>
                        <th th:text="#{tcsAll.testSteps}">Test Stepy</th>
                        <th th:text="#{table.more}">Více</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tc : ${tcMusters}">
                        <td><input type="checkbox" th:field="*{tcMusters_id}" th:value="${tc.id}"/></td>
                        <td th:text="${tc.id}">00</td>
                        <td><span th:class="${tc.priority}" th:text="${tc.priority}">Priorita</span></td>
                        <td sec:authorize="hasAuthority('TESTER')"><span th:text="${tc.status}"
                                                                         th:class="${tc.status}">Stav TC</span></td>
                        <td th:text="${tc.name}">Název</td>
                        <td><a href="#" class="opener"
                               th:attr="data-name=${tc.name},
                    data-prerequisite=${tc.prerequisite},
                    data-note=${tc.note}"
                               data-id="#detailDialog" th:text="#{table.detail}">Detail</a>
                        </td>
                        <td th:text="${tc.createdDateTime}" sec:authorize="hasAuthority('ANALYTIC')">datum a čas
                            vytvoření
                        </td>
                        <td sec:authorize="hasAuthority('ANALYTIC')"><a th:href="@{'/ts/ts-by-tcmuster/'+${tc.id}}" th:text="#{tcsAll.testSteps}">Test
                            Stepy</a>
                        </td>
                        <td><a href="#" class="opener"
                               th:attr="data-sourceid=${tc.id}, data-objectid=${tc.id}" data-id="#moreDialog" th:text="#{table.more}">Více</a>
                        </td>
                    </tr>
                    </tbody>

                    <label for="project_id" th:text="#{form.project}">Projekt</label>:
                    <select class="form-control" id="project_id" name="project_id">
                        <option th:value="null">---</option>
                        <option th:each="project : ${usersProjects}"
                                th:value="${project.id}"
                                th:text="${project.name}">jméno projektu
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('project_id')}" th:errorclass="alert-danger"
                         th:errors="*{project_id}">form field error
                    </div>

                </table>
                <div th:if="${#fields.hasErrors('tcMusters_id')}" th:errorclass="alert-danger"
                     th:errors="*{tcMusters_id}">form field error
                </div>
                <p>
                    <input type="submit" class="btn btn-primary" value="Zkopíruj" th:value="#{common.copyButton}"/>
                    <input type="reset" class="btn" value="Reset" th:value="#{common.resetButton}"/>
                </p>
            </form>
        </div>
    </div>

    <div th:if="${suite != null}" th:remove="tag">
        <a th:href="@{'/tc/create/'(project=${suite.project.id},suite=${suite.id})}" class="btn btn-default" th:text="#{tc.create}">Založit
            Test
            Case</a>
    </div>

    <!-- Footer -->
    <div th:replace="/fragment/thymeFragment :: footer"></div>
</div>
<!-- /.container -->

</body>
</html>
