<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create Test Step</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/tsCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right" th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <form th:action="@{/ts/create}" method="post" th:object="${TSMusterForm}">
                        <div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"
                             class="alert alert-danger"></div>

                        <span th:if="*{id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id" th:text="#{form.id}">ID</label>:
                                <input type="text" id="id" th:value="*{id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="action" th:text="#{form.action}">Akce</label> *
                                <textarea type="text" id="action" name="action"
                                          th:text="*{action}"
                                          class="form-control"
                                          autofocus="autofocus"/>
                                <div th:if="${#fields.hasErrors('action')}" th:errorclass="alert-danger"
                                     th:errors="*{action}">form field error
                                </div>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="expected" th:text="#{form.expected}">Očekávané chování</label> *
                                <textarea type="text" id="expected" name="expected"
                                          th:text="*{expected}"
                                          class="form-control"/>
                                <div th:if="${#fields.hasErrors('expected')}" th:errorclass="alert-danger"
                                     th:errors="*{expected}">form field error
                                </div>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="tcMuster_id" th:text="#{form.tcmusters}">tcMuster_id</label> *

                                <select class="form-control" id="tcMuster_id" name="tcMuster_id">
                                    <option th:value="null">---</option>
                                    <option th:each="tcMuster_id : ${tcMusters}"
                                            th:selected="${TSMusterForm.tcMuster_id != null} ? ${#strings.contains(tcMuster_id.id, TSMusterForm.tcMuster_id)}"
                                            th:value="${tcMuster_id.id}"
                                            th:text="${tcMuster_id.name}">jméno tcMuster
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('tcMuster_id')}" th:errorclass="alert-danger"
                                     th:errors="*{tcMuster_id}">form field error
                                </div>

                            </div>
                        </div>

                        <span th:if="*{id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" th:value="#{common.editButton}" class="btn btn-primary"/>
                        </span>
                        <span th:if="*{id == null}" th:remove="tag">
                             <input type="submit" value="Vytvořit" th:value="#{common.createButton}" class="btn btn-primary"/>
                        </span>

                    </form>
                </div>
            </div>
            <!--<div class="col-sm-5">-->
            <!--<p><a th:href="@{'/ts/ts-by-tcmuster/'+ ${param.tcmuster[0]}}" class="btn btn-primary">Zpět</a></p>-->
            <!--</div>-->
        </div>

        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
