<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Run Test Step</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/tsRun.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard">Home</a></li>
                <a th:href="@{${#httpServletRequest.getHeader('referer')}}" class="btn btn-default btn-xs pull-right"
                   th:text="#{common.backButton}">Zpět</a>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <form th:action="@{/ts/run}" method="post" th:object="${TSInstanceRunDTO}">
                        <div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.all}"
                             class="alert alert-danger"></div>

                        <span th:if="*{id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id">ID</label>:
                                <input type="text" id="id" th:value="*{id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="action" th:text="#{form.action}">Akce</label>:
                                <textarea type="text" id="action"
                                          readonly="true" name="action"
                                          th:text="*{action}"
                                          class="form-control"
                                />
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="expected" th:text="#{form.expected}">Očekávané chování</label>:
                                <textarea type="text" id="expected"
                                          readonly="true" name="expected"
                                          th:text="*{expected}"
                                          class="form-control"
                                />
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="result" th:text="#{form.result}">Výsledek</label>:
                                <textarea type="text" id="result" name="result"
                                          th:text="*{result}"
                                          autofocus="autofocus" class="form-control"/>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="status" th:text="#{form.status}">Status</label>:

                                <select class="form-control" id="status" name="status"
                                        th:with="statuses=${T(cz.vse.entity.StatusEnum).values()}">
                                    <option th:value="null" selected="selected">---</option>
                                    <option th:each="status : ${statuses}"
                                            th:value="${status}"
                                            th:class="${status}"

                                            th:text="${status}">jméno projektu
                                    </option>
                                </select>
                            </div>
                            <div th:if="${#fields.hasErrors('status')}" th:errorclass="alert-danger"
                                 th:errors="*{status}">form field error
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <input type="hidden" id="tcInstance_id" name="tcInstance_id"
                                       th:value="*{tcInstance_id}" class="form-control"/>
                            </div>
                        </div>

                        <span th:if="*{id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" th:value="#{common.editButton}"
                                    class="btn btn-primary"/>
                        </span>
                        <span th:if="*{id == null}" th:remove="tag">
                             <input type="submit" value="Vytvořit" th:value="#{common.createButton}"
                                    class="btn btn-primary"/>
                        </span>

                    </form>
                </div>
            </div>
            <div class="col-sm-8">


                <p><a th:href="@{'/defect/create'(source='tsInstanceSource_id', sourceid=${TSInstanceRunDTO.id})}"
                      class="btn btn-default" target="_blank" th:text="#{defects.createDefect}">Založit Defekt pro
                    step</a></p>
            </div>
            <div class="col-sm-8">
                <p><a th:href="@{'/tc/show/'+${TSInstanceRunDTO.tcInstance_id}}"
                      class="btn btn-default" th:text="#{common.backButton}">Zpět</a>
                </p>
            </div>
        </div>

        <!--Page Content - End-->
        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
