<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Uživatelé</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
</head>
<body>

<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/usersAdmin.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index">Home</a>
                </li>
                <li class="active">Uživatelé</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="error-404">Seznam uživatelů v systému</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                This content is only shown to administrators. - dát pryč
            </div>


            <h1>Users list</h1>
            <table class="table table-striped datatable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Jméno</th>
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Více</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="user : ${usersDTOList}">
                    <td th:text="${user.id}">00</td>
                    <td th:text="${user.name}">Jméno</td>
                    <td><a href="#" class="opener"
                           th:attr="data-objectid=${user.id}" data-id="#detailDialog">Detail</a>
                    </td>
                    <td><a th:href="@{'/person/edit/'+${user.id}}">Editace</a></td>


                    <td><a href="#" class="opener"
                           th:attr="data-objectid=${user.id}" data-id="#moreDialog">Více</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="/person/create" class="btn btn-default">Založit Uživatele</a>
        </div>
        <div class="col-sm-8"></div>
    </div>
    <br/>

    <!--dialogová okna-->
    <div id="moreDialog" title="Více">
        <h3>Project ID: <span id="spanDataObjectId"></span></h3>
        <a href="/defect/create" class="btn btn-default">Založit defekt</a>
        <a href="#" class="btn btn-default">Žádost o smazání</a>
        <a href="/defect/defects" class="btn btn-default">Seznam Defektů</a>
    </div>

    <div id="detailDialog" title="Detail projektu">
        <h3>Detail projektu: <span id="spanDataName"></span></h3>
        <h3>Vlastník projektu: <span id="spanDataOwnerName"> </span></h3>
        <h3>Počet Test Suitů: //dodělat</h3>
    </div>

    <!-- Footer -->
    <div th:replace="/fragment/thymeFragment :: footer"></div>

</div>
<!-- /.container -->
</body>
</html>
