<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Create WorkList</title>

    <!--importované přes fragment-->
    <div th:replace="/fragment/thymeFragment :: headImports"/>
    <!--importované přes fragment - konec-->

    <!--duallistbox3-->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css"/>
    <link rel="stylesheet" type="text/css" href="/src/bootstrap-duallistbox.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="/src/jquery.bootstrap-duallistbox.js"></script>
</head>

<body>
<!-- Navigation -->
<div th:replace="/fragment/thymeFragment :: menu"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">
                <small>WEB-INF/templates/workListCreate.html</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">Home</a>
                </li>
                <li class="active">WorkList create</li>
            </ol>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <form th:action="@{/worklist/create}" method="post" default-target-url="/index">

                        <span th:if="${workListDTO.id != null}" th:remove="tag">
                            <div class=" control-group form-group">
                            <div class="controls">
                                <label for="id">ID</label>:
                                <input type="text" id="id" th:value="${workListDTO.id}" readonly="true" name="id"
                                       class="form-control"/>
                            </div>
                        </div>
                        </span>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="name">Název</label>:
                                <input type="text" id="name" name="name" th:value="${workListDTO.name}"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="prerequisite">Prerekvizity</label>:
                                <textarea type="text" id="prerequisite" name="prerequisite"
                                          th:text="${workListDTO.prerequisite}"
                                          class="form-control"/>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="prerequisite">Poznámka</label>:
                                <textarea type="text" id="note" name="note"
                                          th:text="${workListDTO.note}"
                                          class="form-control"/>
                            </div>
                        </div>

                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="priority">Priorita</label>:

                                <select class="form-control" id="priority" name="priority">
                                    <option th:each="priority : ${listPriority}"
                                            th:value="${priority}"
                                            th:selected="${workListDTO.priority != null} ? ${#arrays.contains(tcDTO.priority, priority)}"
                                            th:text="${priority}">jméno projektu
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!--<span sec:authorize="hasAuthority('ANALYTIC')" th:remove="tag">-->
                        <div class=" control-group form-group">
                            <div class="controls">
                                <label for="project_id">Projekt</label>:

                                <select class="form-control" id="project_id" name="project_id">
                                    <option th:each="project : ${listUsersProjectsDTO}"
                                            th:value="${project.id}"
                                            th:selected="${workListDTO.project_id != null} ? ${#strings.contains(project.id, workListDTO.project_id)}"
                                            th:text="${project.name}">Assignee
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!--<div class=" control-group form-group">-->
                            <!--<div class="controls">-->
                                <!--<label for="plannedExecution">Datum plánovaného spuštění</label>:-->
                                <!--<input type="text" id="plannedExecution" class="datepicker" name="plannedExecution" size="30"/>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="tcMuster_id">Přidej TC</label>:
                                <select id="tcMuster_id" name="tcMuster_id" class="multipleSelection4"
                                        multiple="multiple" size="10">
                                    <option th:each="tc : ${listTCByProject}"
                                            th:selected="${workListDTO.workTCList != null} ? ${#lists.contains(workListDTO.workTCList, tc)}"
                                            th:value="${tc.id}"
                                            th:text="${tc}">tc vzory
                                    </option>


                                </select>
                                <script>
                                    var multipleSelection4 = $('.multipleSelection4').bootstrapDualListbox({
                                        nonSelectedListLabel: 'Non-selected',
                                        selectedListLabel: 'Selected',
                                        preserveSelectionOnMove: 'moved',
                                        moveOnSelect: true,
                                    });
                                </script>
                            </div>
                        </div>

                        <!--<div class=" control-group form-group">-->
                        <!--<div class="controls">-->
                        <!--<label for="priority">Priorita</label>:-->

                        <!--<select class="form-control" id="priority" name="priority"-->
                        <!--th:with="priorities=${T(cz.vse.entity.PriorityDefectEnum).values()}">-->
                        <!--<option th:each="priority : ${priorities}"-->
                        <!--th:value="${priority}"-->
                        <!--th:selected="${defectDTO.priority != null} ? ${#arrays.contains(defectDTO.priority, priority)}"-->
                        <!--th:text="${priority}">jméno projektu-->
                        <!--</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->


                        <span th:if="${workListDTO.id != null}" th:remove="tag">
                             <input type="submit" value="Upravit" class="btn btn-primary"/>
                        </span>
                        <span th:if="${workListDTO.id == null}" th:remove="tag">
                             <input type="submit" value="Vytvořit" class="btn btn-primary"/>
                        </span>

                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <p th:if="${workListDTO.id == null}">
                    <button type="button" class="btn btn-primary"
                            onclick="window.open('', '_self', ''); window.close();">Close tab
                    </button>
                </p>
                <p><a href="/defect/defects" class="btn btn-default">Seznam Defektů</a></p>
            </div>
        </div>

        <!--Page Content - End-->

        <!-- Footer -->
        <div th:replace="/fragment/thymeFragment :: footer"></div>

    </div>
</div>
<!-- /.container -->

<div th:replace="/fragment/thymeFragment :: script"></div>
</body>

</html>
