<div th:fragment="vkladanyFragment">
    <p>Vkládaná text</p>
    <h1>VLOŽENÝ NADPIS</h1>
</div>

<div th:fragment="vkladanyFragment2">
    <p>Vkládaná text</p>
    <h3>th:fragment="vkladanyFragment2</h3>
    <h1>VLOŽENÝ NADPIS</h1>
</div>

<div th:fragment="menu">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <span sec:authorize="!hasAuthority('ROLE_ANONYMOUS')">
                    <span sec:authentication="principal.username" class="navbar-brand"></span>
                </span>

                <a class="navbar-brand" href="/index">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/project/projects">My Projects</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="services">Services</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq">FAQ</a>
                            </li>
                            <li>
                                <a href="404">404</a>
                            </li>
                            <li>
                                <a href="pricing">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<div th:fragment="footer">
    <hr/>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="headImports" th:remove="tag">
    <!--Bootstrap Core CSS-->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!--Custom CSS-->
    <link href="/css/modern-business.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>


    <!--Moje jQuery-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>


    <link href="http://t4t5.github.io/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
    <script src="http://t4t5.github.io/sweetalert/dist/sweetalert.min.js"></script>

    <!--Můj java script-->
    <script type='text/javascript' src='/script.js'></script>

</div>