<div th:fragment="headImports" th:remove="tag">
    <!--Bootstrap Core CSS-->
    <link href="/css/bootstrap4.min.css" rel="stylesheet"/>

    <!--Custom CSS-->
    <link href="/css/modern-business.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>


    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>-->
    <link rel="stylesheet" href="/jquery/jquery-ui.css"/>


    <link href="/sweetalert/sweetalert.css" rel="stylesheet"/>
    <script src="/sweetalert/sweetalert.min.js"></script>


    <!--Moje jQuery-->
    <script src="/jquery/jquery-3.1.1.js"></script>
    <script src="/jquery/jquery-ui.js"></script>


    <!--Můj java script-->
    <script type='text/javascript' src='/script.js'></script>
    <link rel="stylesheet" type="text/css" href="/style.css"/>


</div>


<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin" sec:authorize="hasAuthority('ADMIN')">[--]</a>
                <span sec:authorize="!hasAuthority('ROLE_ANONYMOUS')">
                    <a href="/dashboard" sec:authentication="principal.username" class="navbar-brand">Moje jméno</a>
                </span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/project/projects" th:text="#{navbar.myprojects}">My Projects</a>
                    </li>
                    <li sec:authorize="hasAuthority('ANALYTIC')">
                        <a href="/tc/tcs">Test Casy</a>
                    </li>
                    <li>
                        <a href="/defect/defects" th:text="#{navbar.defects}">Defekty</a>
                    </li>
                    <li>
                        <a href="/worklist" th:text="#{navbar.worklists}" sec:authorize="!hasAuthority('MANAGER')">Worklist</a>
                    </li>
                    <span class="dropdown navbar-brand">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                            th:text="#{navbar.language}">Jazyk
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" th:text="#{navbar.chooselanguage}">Výběr jazyka</li>
                        <li><a href="?lang=cs">Česky</a></li>
                        <li><a href="?lang=en">Anglicky</a></li>
                        <li><a href="?lang=es">Španělsky</a></li>
                        <li class="divider"></li>
                        <li><a href="?lang=">Výchozí</a></li>
                    </ul>
                    </span>
                    <li sec:authorize="!hasAuthority('ROLE_ANONYMOUS')">
                        <a href="/logout" th:text="'| '+#{navbar.logout}">| Odhlásit se</a>
                    </li>

                    <li sec:authorize="hasAuthority('ROLE_ANONYMOUS')">
                        <a href="/login" th:text="'| '+#{navbar.login}">| Přihlásit se</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>


<!--MENU PRO ŠABLONU-->
<div th:fragment="menuSablona">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index">Start Boogfftstrap</a>
                <span sec:authorize="!hasAuthority('ROLE_ANONYMOUS')">
                    <a href="/login" sec:authentication="principal.username" class="navbar-brand"></a>
                </span>
            </div>
            - <a href="/person/prihlasit" class="btn btn-default">prihlasit</a>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/project/projects">My Projects</a>
                    </li>
                    <li>
                        <a href="/test/about">About</a>
                    </li>
                    <li>
                        <a href="/test/services">Services</a>
                    </li>
                    <li>
                        <a href="/test/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/test/portfolio-1-col">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/test/portfolio-2-col">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/test/portfolio-3-col">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/test/portfolio-4-col">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/test/portfolio-item">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/test/blog-home-1">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="/test/blog-home-2">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="/test/blog-post">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/test/full-width">Full Width Page</a>
                            </li>
                            <li>
                                <a href="/test/sidebar">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="/test/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="/test/404">404</a>
                            </li>
                            <li>
                                <a href="/test/pricing">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<div th:fragment="footer">
    <hr/>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </footer>
</div>

