<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diplomka - index</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
</head>
<body bgcolor="#f0f8ff">
<h1>index.html</h1>
<div class="container">
    <div class="jumbotron">
        <img src="../static/images/FBcover1200x628.png" width="200"
             th:src="@{images/FBcover1200x628.png}"/>
        <h1>Hello</h1>

        <h2>Fellow Spring Framework Gurus!!!</h2>
    </div>
</div>
<h1>Index</h1>
<h3>C:\workspace\IntelliJ\diplomka\src\main\webapp\index.html</h3>

<a href="/username"><H3>Login</H3></a>
<br/>
<a href="/project"><H3>Projekty</H3></a>
</body>
</html>