<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>ProjectList</title>
    <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}"/>
    <meta charset="utf-8"/>
    <script type='text/javascript' src='../script.js'></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="http://t4t5.github.io/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
    <script src="http://t4t5.github.io/sweetalert/dist/sweetalert.min.js"></script>
    <!--http://www.thymeleaf.org/extras/spring-security-->
    <!--xmlns="http://www.thymeleaf.org/extras/spring-security"-->
    <script type='text/javascript' src='../script.js'></script>

    <meta charset="UTF-8">
    <title>Diplomka - index</title>
</head>

<body bgcolor="#f0f8ff">
<h1>Index</h1>
<h3>C:\workspace\IntelliJ\diplomka\src\main\webapp\index.html</h3>
The sec:authentication attribute is used to print logged user name and roles:
Logged user: <span sec:authentication="name">nemám jméno</span>
Roles: <span sec:authentication="principal.authorities">nenačetlo se to</span>

<br>


<div xmlns="http://www.thymeleaf.org/extras/spring-security" authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<br>
------
<br>
<div xmlns="http://www.thymeleaf.org/extras/spring-security" authorize="hasAuthority('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<br>
------
<br>
<div xmlns="http://www.thymeleaf.org/extras/spring-security" authorize="hasRole('ROLE_NIC')">
    This content is only shown to Ničemovi.
</div>
<br>
------
<br>
<div xmlns="http://www.thymeleaf.org/extras/spring-security" authorize="hasAuthority('ROLE_USER')">
    This content is only shown to users.
</div>
<br>
------
<br>
druhý namespace
<br>
------
<br>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<br>
------
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<br>
------
<br>
<div sec:authorize="hasRole('ROLE_NIC')">
    This content is only shown to Ničemovi.
</div>
<br>
------
<br>
<div sec:authorize="hasAuthority('ROLE_USER')">
    This content is only shown to users.
</div>
<br>
------
<br>


<br>
-----
<br>

<span th:text="${#authorization.expression('isAuthenticated()')} ?
               'the user is logged in' :
               'the user is NOT logged in'">gggggg
</span>
Add a class on html element:

<span th:classappend="${#authorization.expression('isAuthenticated()')} ? 'active'">ggggg
</span>
<br>
------
<br>
<sec:authorize access="hasRole('supervisor')">

    This content will only be visible to users who have the "supervisor" authority in their list of <tt>GrantedAuthority</tt>s.

</sec:authorize>
</body>
</html>